<form [formGroup]="form" (ngSubmit)="submit()">
  <se-form-field label="School name">
    <input seAutofocus type="text" formControlName="name" autocomplete="organization" />
  </se-form-field>

  <se-form-field label="Code">
    <input type="text" formControlName="code" autocomplete="off" />
  </se-form-field>

  <se-form-field label="City">
    <input type="text" formControlName="city" autocomplete="address-level2" />
  </se-form-field>

  <div class="actions">
    <se-button type="submit">{{ saving() ? 'Saving...' : 'Save School' }}</se-button>
  </div>
</form>
